<div class="block">
  <div class="img-block" (click)="addFood()">
    <img [src]="food.iconUrl">
  </div>
  <div class="description">
    <p><b>{{ food.name }}</b></p>
    <span>Price: <b>{{ food.price }}</b>KGS</span>
  </div>
</div>
