<div class="container">
  <div class="order-details">
    <h3>Order details: </h3>
    <div *ngFor="let item of orderArray; let i = index" class="item">
      <p><b>{{ item.name }}</b></p>
      <span>{{ item.count }}</span>
      <span>{{ item.price }}</span>
      <button (click)="onDelete(i)">X</button>
    </div>
    <p>Total price: <b>{{ totalSum }}</b> KGS</p>
  </div>

  <div class="add-items">
    <h3 class="title">Add Items</h3>
    <app-food-item *ngFor="let cart of menu; let i = index"
    [food]="cart"
    (add)="addFoodItem(i)"></app-food-item>
  </div>
</div>
