.container {
  display: flex;
  justify-content: space-around;
}

.add-items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 40%;
  text-align: center;
}

.item {
  display: flex;
  justify-content: space-between;
}

.order-details {
  border: 4px dotted orange;
  width: 40%;
  text-align: center;
}

.title {
  width: 100%;
}
